### ALY6980: Capstone Project - Andrew Ng

In [1]:
# Importing the libraries

import pandas as pd
import seaborn as sns
import csv 
import statistics
from numpy import *
import numpy as np

### <ins> Step 1 : Data extraction <ins>

In [2]:
# Importing the data from csv file

data = pd.read_csv(r'C:\Users\Kalyani\Desktop\ML\ALY6890-Capstone Submission_Team Andrew Ng\FF2019.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (13,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Observing initial observations of the dataset to gain a basic data understanding

data.head(5)

,MBWHSE,MBDATE,MBMBRN,MBDEPT,MBITEM,MBREG_NUM,MBTRN_NUM,MBTIME,MBSELL,MBDSUN,MBDSEL,FISCAL_YEAR,FISCAL_PERIOD,IMCAT1,IMDES1,IMDES2,IMCAT2,IMCAT3,CDDESC,M2EXCFLG
0,110,12/11/2018 0:00,1.118270e+11,65,14658,9,338,1722,6.99,1,6.99,19,4,1,ARTICHOKES,NaN,V,9,OTHER VEGETABLES,E
1,110,4/28/2019 0:00,1.118500e+11,65,21046,7,82,1148,6.99,1,6.99,19,9,1,GOURMET TOMATO MEDLEY,NaN,H,0,TOMATOES,E
2,110,2/25/2019 0:00,3.013140e+11,65,5623,11,469,1956,5.49,1,5.49,19,7,1,BROCCOLI,NaN,V,1,BROCCOLI,N
3,110,2/21/2019 0:00,3.000220e+11,65,81393,8,141,1317,5.99,1,5.99,19,7,1,LIMES,NaN,C,3,LIMES,E
4,110,2/21/2019 0:00,3.000220e+11,65,30669,8,141,1317,1.49,1,1.49,19,7,1,BANANAS,NaN,T,1,BANANAS,E

In [4]:
# Get shape of the dataset

row, col = data.shape
print('Number of Dimensions:', data.ndim ,', having', row, "rows and", col, 'columns' )

Number of Dimensions: 2 , having 410728 rows and 20 columns

In [5]:
# Renaming the column headers

data.columns = ['StoreNo', 'DateOfSale','MembershipNo','Dept','ItemNo','CashierNo','TransactionNo','TransactionTime','UnitPrice','UnitsSold','TotalSellAmt','FiscalYear','FiscalPeriod','ItemCat1','ItemDes1','ItemDes2','ItemCat2','ItemCat3','CDDesc','ExeFlag']

In [6]:
# Re-checking the data

data.head(5)

,StoreNo,DateOfSale,MembershipNo,Dept,ItemNo,CashierNo,TransactionNo,TransactionTime,UnitPrice,UnitsSold,TotalSellAmt,FiscalYear,FiscalPeriod,ItemCat1,ItemDes1,ItemDes2,ItemCat2,ItemCat3,CDDesc,ExeFlag
0,110,12/11/2018 0:00,1.118270e+11,65,14658,9,338,1722,6.99,1,6.99,19,4,1,ARTICHOKES,NaN,V,9,OTHER VEGETABLES,E
1,110,4/28/2019 0:00,1.118500e+11,65,21046,7,82,1148,6.99,1,6.99,19,9,1,GOURMET TOMATO MEDLEY,NaN,H,0,TOMATOES,E
2,110,2/25/2019 0:00,3.013140e+11,65,5623,11,469,1956,5.49,1,5.49,19,7,1,BROCCOLI,NaN,V,1,BROCCOLI,N
3,110,2/21/2019 0:00,3.000220e+11,65,81393,8,141,1317,5.99,1,5.99,19,7,1,LIMES,NaN,C,3,LIMES,E
4,110,2/21/2019 0:00,3.000220e+11,65,30669,8,141,1317,1.49,1,1.49,19,7,1,BANANAS,NaN,T,1,BANANAS,E

In [7]:
# Observing the datatypes of the columns of the dataset

data.dtypes

StoreNo              int64
DateOfSale          object
MembershipNo       float64
Dept                 int64
ItemNo               int64
CashierNo            int64
TransactionNo        int64
TransactionTime      int64
UnitPrice          float64
UnitsSold            int64
TotalSellAmt       float64
FiscalYear           int64
FiscalPeriod         int64
ItemCat1            object
ItemDes1            object
ItemDes2            object
ItemCat2            object
ItemCat3            object
CDDesc              object
ExeFlag             object
dtype: object

In [8]:
# Changing the datatype of DateOfSale from object to datetime

data['DateOfSale'] = pd.to_datetime(data['DateOfSale'])

### <ins> Step 2 : Data cleanup <ins>

**Why Datacleaning?**

Data may contain:
1. Inconsistent column names
2. Missing Data
3. Outliers
4. Duplicate rows
5. Untidy
6. Needs of process columns
7. Column types can signal unexpected data values

In [9]:
# Checking for null values

null_counts = data.isnull().sum()
null_counts

StoreNo                 0
DateOfSale              0
MembershipNo            0
Dept                    0
ItemNo                  0
CashierNo               0
TransactionNo           0
TransactionTime         0
UnitPrice               0
UnitsSold               0
TotalSellAmt            0
FiscalYear              0
FiscalPeriod            0
ItemCat1                0
ItemDes1                0
ItemDes2           270334
ItemCat2                0
ItemCat3                0
CDDesc                  0
ExeFlag                 0
dtype: int64

In [10]:
# Replacing all the NaN values with zero in the data

data = data.fillna(0)

### <ins> Step 3 : Data Exploration, Data Visualization & Analysis<ins>

In [11]:
# Summary statistics

data.describe()

,StoreNo,MembershipNo,Dept,ItemNo,CashierNo,TransactionNo,TransactionTime,UnitPrice,UnitsSold,TotalSellAmt,FiscalYear,FiscalPeriod
count,410728.0,4.107280e+05,410728.0,4.107280e+05,410728.000000,410728.000000,410728.000000,410728.000000,410728.000000,410728.000000,410728.0,410728.000000
mean,110.0,1.837740e+11,65.0,2.640137e+05,39.129193,166.956621,1436.300841,5.946161,1.027646,6.081115,19.0,4.937168
std,0.0,1.297062e+11,0.0,3.714261e+05,71.708003,112.216948,277.906878,2.455196,0.566607,5.363395,0.0,2.497838
min,110.0,1.000110e+11,65.0,4.120000e+02,1.000000,1.000000,853.000000,1.390000,-19.000000,-75.810000,19.0,1.000000
25%,110.0,1.118120e+11,65.0,2.700300e+04,8.000000,73.000000,1214.000000,4.490000,1.000000,4.490000,19.0,3.000000
50%,110.0,1.118670e+11,65.0,6.035700e+04,11.000000,149.000000,1421.000000,5.990000,1.000000,5.990000,19.0,5.000000
75%,110.0,3.004790e+11,65.0,5.125150e+05,13.000000,246.000000,1639.000000,6.990000,1.000000,6.990000,19.0,7.000000
max,110.0,8.418710e+11,65.0,1.315870e+06,701.000000,590.000000,2212.000000,21.990000,48.000000,2192.000000,19.0,9.000000

In [12]:
# Selecting the data from Department Number '65' - Fresh Food Items

FreshFood = data[data['Dept'] == 65]

In [13]:
# Understanding the data

FreshFood.head()

,StoreNo,DateOfSale,MembershipNo,Dept,ItemNo,CashierNo,TransactionNo,TransactionTime,UnitPrice,UnitsSold,TotalSellAmt,FiscalYear,FiscalPeriod,ItemCat1,ItemDes1,ItemDes2,ItemCat2,ItemCat3,CDDesc,ExeFlag
0,110,2018-12-11,1.118270e+11,65,14658,9,338,1722,6.99,1,6.99,19,4,1,ARTICHOKES,0,V,9,OTHER VEGETABLES,E
1,110,2019-04-28,1.118500e+11,65,21046,7,82,1148,6.99,1,6.99,19,9,1,GOURMET TOMATO MEDLEY,0,H,0,TOMATOES,E
2,110,2019-02-25,3.013140e+11,65,5623,11,469,1956,5.49,1,5.49,19,7,1,BROCCOLI,0,V,1,BROCCOLI,N
3,110,2019-02-21,3.000220e+11,65,81393,8,141,1317,5.99,1,5.99,19,7,1,LIMES,0,C,3,LIMES,E
4,110,2019-02-21,3.000220e+11,65,30669,8,141,1317,1.49,1,1.49,19,7,1,BANANAS,0,T,1,BANANAS,E

In [14]:
# Get shape of the dataset

row, col = FreshFood.shape
print('Number of Dimensions:', data.ndim ,', having', row, "rows and", col, 'columns' )

Number of Dimensions: 2 , having 410728 rows and 20 columns

In [15]:
# Checking the description of fresh food items under Dept 65 

FreshFood.groupby(['CDDesc'])['CDDesc'].count().head(20)

CDDesc
ANJOU               1468
APPLE               1098
ARILS               1016
ASPARAGUS           5732
AVOCADOS           21504
BAKERS              2377
BANANAS            38511
BARTLETT            1102
BEANS               3624
BLACK               1870
BLACKBERRIES        6419
BLUEBERRIES        23730
BOSC                 113
BROCCOLI            7265
BROWN MUSHROOMS     6949
CANTALOUPE          2948
CARAS               2647
CARROTS             6499
CAULIFLOWER         4517
CELERY              4970
Name: CDDesc, dtype: int64

In [17]:
# Top 10 members who purchaseed maximum number of fresh food products

top10= FreshFood[['MembershipNo']].groupby(['MembershipNo'])['MembershipNo'].count().nlargest(10)
nm = pd.DataFrame({'MembershipNo':top10.index, 'ItemsCnt':top10.values })
print(nm)

   MembershipNo  ItemsCnt
0  1.118860e+11      4795
1  1.118580e+11      4137
2  1.118800e+11      3821
3  1.118400e+11      3570
4  1.118810e+11      3459
5  1.118830e+11      3413
6  1.118760e+11      3409
7  1.118740e+11      3379
8  1.118730e+11      3306
9  1.118820e+11      3301

In [18]:
nm.iloc[1,1]

4137

In [19]:
#What is (are) the most frequently bought items in fresh foods?

# Using collections to count occurances    
from collections import Counter
products = FreshFood['CDDesc']

# Give top 10 items with their count
Top_Products = Counter(products)
Top_Products.most_common(10)

[('BANANAS', 38511),
 ('BLUEBERRIES', 23730),
 ('SALAD KITS', 23194),
 ('AVOCADOS', 21504),
 ('TOMATOES', 20573),
 ('STRAWBERRIES', 19389),
 ('RASPBERRIES', 16662),
 ('CUCUMBERS', 14145),
 ('MANDARINS', 13954),
 ('ROMAINE', 12163)]

#### Fiscal Year = 2019

In [20]:
# Selecting data from 

FreshFood19 = FreshFood[FreshFood['FiscalYear'] == 19]
FreshFood19.head(5)

,StoreNo,DateOfSale,MembershipNo,Dept,ItemNo,CashierNo,TransactionNo,TransactionTime,UnitPrice,UnitsSold,TotalSellAmt,FiscalYear,FiscalPeriod,ItemCat1,ItemDes1,ItemDes2,ItemCat2,ItemCat3,CDDesc,ExeFlag
0,110,2018-12-11,1.118270e+11,65,14658,9,338,1722,6.99,1,6.99,19,4,1,ARTICHOKES,0,V,9,OTHER VEGETABLES,E
1,110,2019-04-28,1.118500e+11,65,21046,7,82,1148,6.99,1,6.99,19,9,1,GOURMET TOMATO MEDLEY,0,H,0,TOMATOES,E
2,110,2019-02-25,3.013140e+11,65,5623,11,469,1956,5.49,1,5.49,19,7,1,BROCCOLI,0,V,1,BROCCOLI,N
3,110,2019-02-21,3.000220e+11,65,81393,8,141,1317,5.99,1,5.99,19,7,1,LIMES,0,C,3,LIMES,E
4,110,2019-02-21,3.000220e+11,65,30669,8,141,1317,1.49,1,1.49,19,7,1,BANANAS,0,T,1,BANANAS,E

In [21]:
# Get shape of the dataset

row, col = FreshFood19.shape
print('Number of Dimensions:', data.ndim ,', having', row, "rows and", col, 'columns' )

Number of Dimensions: 2 , having 410728 rows and 20 columns

In [22]:
# Verifying dates in fiscal year 2019

print (min(FreshFood19['DateOfSale']))
print (max(FreshFood19['DateOfSale']))

2018-09-04 00:00:00
2019-04-30 00:00:00

In [23]:
# Count of CDDesc 

FreshFood19[['CDDesc']].groupby(['CDDesc'])['CDDesc'].count()

CDDesc
ANJOU                   1468
APPLE                   1098
ARILS                   1016
ASPARAGUS               5732
AVOCADOS               21504
BAKERS                  2377
BANANAS                38511
BARTLETT                1102
BEANS                   3624
BLACK                   1870
BLACKBERRIES            6419
BLUEBERRIES            23730
BOSC                     113
BROCCOLI                7265
BROWN MUSHROOMS         6949
CANTALOUPE              2948
CARAS                   2647
CARROTS                 6499
CAULIFLOWER             4517
CELERY                  4970
CORN                    2368
CREAMERS                2972
CUCUMBERS              14145
DATES                   1821
DEAD ITEMS                 2
FALL                    1191
FIGS                      13
FRUIT TRAY               702
FUJI                    6264
GALA                    4761
                       ...
OTHER MELONS              20
OTHER PEARS               52
OTHER POTATOES             1
OTHER VEGETABLES        4909
PEACHES                 2609
PEPPERS                10996
PERSIMMONS              1334
PINEAPPLE               5431
PINK                     945
PLUMS                   1726
POMEGRANATES            1057
RASPBERRIES            16662
RED                     6755
ROMAINE                12163
SALAD KITS             23194
SLICED APPLES           1363
SNACK PACK               232
SPECIALTY               1480
SPECIALTY MUSHROOMS     6131
SPINACH                11310
SPRING MIX              5372
SPROUTS                 5403
SQUASH                  4763
STRAWBERRIES           19389
SWEET                   5308
TOMATOES               20573
TUSCAN                    42
VEG                     1055
WATERMELON              1600
YELLOW                  1897
Name: CDDesc, Length: 81, dtype: int64

In [24]:
#What is (are) the most frequently bought items in fresh foods in 2019?

# Using collections to count occurances    
from collections import Counter
products = FreshFood19['CDDesc']

# Give top 10 items with their count
Top_Products = Counter(products)
Top_Products.most_common(10)

[('BANANAS', 38511),
 ('BLUEBERRIES', 23730),
 ('SALAD KITS', 23194),
 ('AVOCADOS', 21504),
 ('TOMATOES', 20573),
 ('STRAWBERRIES', 19389),
 ('RASPBERRIES', 16662),
 ('CUCUMBERS', 14145),
 ('MANDARINS', 13954),
 ('ROMAINE', 12163)]

#### Analyzing top 10 fresh food products returned

In [25]:
retn = FreshFood19[FreshFood19['UnitsSold']<0]
retn[['CDDesc']].groupby(['CDDesc'])['CDDesc'].count().nlargest(10)

CDDesc
ROMAINE         99
AVOCADOS        93
SALAD KITS      77
MANDARINS       69
STRAWBERRIES    66
PEACHES         59
TOMATOES        54
BLUEBERRIES     45
BANANAS         44
RASPBERRIES     40
Name: CDDesc, dtype: int64

In [26]:
# count of PEACHES sold

FreshFood19[FreshFood19['CDDesc'] == 'PEACHES']['CDDesc'].count()

2609

In [27]:
# What are the items that are bought in qty greater than 10 in a transaction?

Gtr10 = FreshFood19[FreshFood19['UnitsSold']>10]
Gtr10

,StoreNo,DateOfSale,MembershipNo,Dept,ItemNo,CashierNo,TransactionNo,TransactionTime,UnitPrice,UnitsSold,TotalSellAmt,FiscalYear,FiscalPeriod,ItemCat1,ItemDes1,ItemDes2,ItemCat2,ItemCat3,CDDesc,ExeFlag
840,110,2019-03-06,1.118700e+11,65,47019,12,292,2014,5.99,14,83.86,19,7,1,AVOCADOS,0,T,0,AVOCADOS,E
4974,110,2019-02-16,1.118860e+11,65,27003,6,328,1652,6.99,16,111.84,19,6,1,2 LB STRAWBERRIES,0,B,1,STRAWBERRIES,E
7006,110,2018-10-18,1.118860e+11,65,83424,8,229,1505,4.49,15,67.35,19,2,1,HONEYDEW MELON,0,M,2,HONEYDEW,E
7007,110,2018-11-23,1.118860e+11,65,83424,11,143,1218,4.49,20,89.80,19,3,1,HONEYDEW MELON,0,M,2,HONEYDEW,E
7019,110,2019-02-13,1.118860e+11,65,56366,13,454,2010,5.49,12,65.88,19,6,1,RASPBERRIES 12OZ CLMSHEL,0,B,2,RASPBERRIES,E
9437,110,2019-03-28,1.118770e+11,65,14221,9,3,1141,4.99,20,99.80,19,8,1,FRENCH GREEN BEAN,2 LBS,V,5,BEANS,E
9997,110,2018-12-09,1.118510e+11,65,27003,7,288,1613,8.49,12,101.88,19,4,1,2 LB STRAWBERRIES,0,B,1,STRAWBERRIES,E
12131,110,2019-04-20,1.118640e+11,65,14221,10,363,1751,4.99,12,59.88,19,9,1,FRENCH GREEN BEAN,2 LBS,V,5,BEANS,E
13113,110,2018-11-25,1.118330e+11,65,47019,14,72,1134,6.99,22,153.78,19,3,1,AVOCADOS,0,T,0,AVOCADOS,E
13468,110,2019-01-13,1.118700e+11,65,47019,201,109,1415,6.49,15,97.35,19,5,1,AVOCADOS,0,T,0,AVOCADOS,E
15334,110,2018-10-05,1.118620e+11,65,88426,6,21,1052,3.49,24,83.76,19,2,1,ENGLISH CUCUMBERS,3 PACK,H,2,CUCUMBERS,E
15546,110,2019-04-06,1.118540e+11,65,24587,14,256,1609,4.49,14,62.86,19,8,1,ORGANIC ROMAINE HEARTS,7/6 COUNT BAGS,L,0,ROMAINE,E
17742,110,2019-04-18,1.118860e+11,65,83337,10,198,1656,8.99,12,107.88,19,9,1,RED SEEDLESS GRAPE,4 LBS,G,0,RED,E
17752,110,2019-03-17,1.118860e+11,65,27003,5,33,1020,4.99,24,119.76,19,7,1,2 LB STRAWBERRIES,0,B,1,STRAWBERRIES,E
18626,110,2019-03-19,3.004650e+11,65,519638,9,308,1850,7.99,11,87.89,19,8,1,ORGANIC BLUEBERRIES 18 OZ,0,B,0,BLUEBERRIES,E
19097,110,2018-12-28,1.118400e+11,65,5623,9,226,1611,4.99,12,59.88,19,5,1,BROCCOLI,0,V,1,BROCCOLI,E
19761,110,2019-01-16,1.118860e+11,65,8789,8,236,2012,2.99,25,74.75,19,5,1,GOLDEN PINEAPPLE,0,T,2,PINEAPPLE,E
19833,110,2018-11-30,1.118860e+11,65,27003,5,250,1643,6.99,12,83.88,19,4,1,2 LB STRAWBERRIES,0,B,1,STRAWBERRIES,E
21454,110,2018-12-19,1.118200e+11,65,94676,4,296,2008,8.99,11,98.89,19,4,1,ASPARAGUS 2.25 LBS,0,V,0,ASPARAGUS,E
23743,110,2019-02-16,1.118850e+11,65,30669,7,45,1032,1.49,30,44.70,19,6,1,BANANAS,0,T,1,BANANAS,E
24955,110,2018-12-09,1.118250e+11,65,30669,13,163,1450,1.49,11,16.39,19,4,1,BANANAS,0,T,1,BANANAS,E
26085,110,2018-12-31,1.118880e+11,65,30669,7,40,1105,1.49,11,16.39,19,5,1,BANANAS,0,T,1,BANANAS,E
26370,110,2018-12-19,1.118690e+11,65,18600,4,76,1133,6.49,12,77.88,19,4,1,CLEMENTINES,0,C,0,MANDARINS,E
27238,110,2018-09-05,1.117950e+11,65,30669,12,34,1059,1.39,17,23.63,19,1,1,BANANAS,0,T,1,BANANAS,N
28402,110,2019-04-28,3.040060e+11,65,894434,10,260,1547,8.49,12,101.88,19,9,1,ORGANIC FUJI APPLES,0,A,1,FUJI,E
28454,110,2018-09-21,1.118580e+11,65,56366,10,238,1642,4.99,12,59.88,19,1,1,RASPBERRIES 12OZ CLMSHEL,0,B,2,RASPBERRIES,E
30713,110,2019-03-13,1.118860e+11,65,8789,11,409,1924,2.99,20,59.80,19,7,1,GOLDEN PINEAPPLE,0,T,2,PINEAPPLE,E
30715,110,2019-04-11,1.118860e+11,65,83424,11,294,2007,4.49,15,67.35,19,8,1,HONEYDEW MELON,0,M,2,HONEYDEW,E
30716,110,2019-03-20,1.118860e+11,65,56366,5,80,1421,5.49,11,60.39,19,8,1,RASPBERRIES 12OZ CLMSHEL,0,B,2,RASPBERRIES,E
32118,110,2019-01-30,1.118400e+11,65,5623,13,484,2016,5.49,20,109.80,19,6,1,BROCCOLI,0,V,1,BROCCOLI,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365123,110,2018-12-07,1.118050e+11,65,47019,12,191,1442,6.99,44,307.56,19,4,1,AVOCADOS,0,T,0,AVOCADOS,E
366047,110,2018-09-06,1.118860e+11,65,83337,8,314,1919,6.99,12,83.88,19,1,1,RED SEEDLESS GRAPE,4 LBS,G,0,RED,E
366056,110,2019-01-23,1.118860e+11,65,8789,13,261,1643,2.99,20,59.80,19,6,1,GOLDEN PINEAPPLE,0,T,2,PINEAPPLE,E
366211,110,2018-12-28,1.118860e+11,65,8789,8,75,1119,2.99,15,44.85,19,5,1,GOLDEN PINEAPPLE,0,T,2,PINEAPPLE,E
368876,110,2019-01-03,1.118770e+11,65,939542,14,35,1055,5.99,20,119.80,19,5,1,ORGANIC FRENCH BEAN,2 LBS,V,5,BEANS,E
374886,110,2018-11-18,1.118540e+11,65,39036,14,72,1123,3.99,21,83.79,19,3,1,ROMAINE HEARTS 6 CT BAG,0,L,0,ROMAINE,E
379337,110,2019-02-07,1.118860e+11,65,27003,7,131,1238,6.99,24,167.76,19,6,1,2 LB STRAWBERRIES,0,B,1,STRAWBERRIES,E
383041,110,2019-01-14,1.118850e+11,65,30669,10,421,1847,1.49,30,44.70,19,5,1,BANANAS,0,T,1,BANANAS,E
387521,110,2019-01-27,1.117920e+11,65,8789,11,367,1806,2.99,12,35.88,19,6,1,GOLDEN PINEAPPLE,0,T,2,PINEAPPLE,E
387787,110,2019-01-25,1.118580e+11,65,56366,13,291,1618,5.99,12,71.88,19,6,1,RASPBERRIES 12OZ CLMSHEL,0,B,2,RASPBERRIES,E
391123,110,2019-01-24,1.118510e+11,65,331100,8,287,1726,6.99,20,139.80,19,6,1,GOURMET CREAMER POTATOES,5 LBS,P,0,CREAMERS,E
391315,110,2019-01-16,1.118400e+11,65,5623,9,333,2036,5.49,20,109.80,19,5,1,BROCCOLI,0,V,1,BROCCOLI,E
391673,110,2019-01-02,1.118860e+11,65,27003,6,152,1430,8.99,24,215.76,19,5,1,2 LB STRAWBERRIES,0,B,1,STRAWBERRIES,E
392251,110,2019-02-15,3.006890e+11,65,30669,5,252,1620,1.49,15,22.35,19,6,1,BANANAS,0,T,1,BANANAS,E
394062,110,2019-03-27,1.118880e+11,65,27003,10,242,1732,4.99,20,99.80,19,8,1,2 LB STRAWBERRIES,0,B,1,STRAWBERRIES,E
394650,110,2018-10-05,1.118770e+11,65,939542,12,24,1036,5.99,12,71.88,19,2,1,ORGANIC FRENCH BEAN,2 LBS,V,5,BEANS,E
395725,110,2018-10-30,1.117980e+11,65,568915,14,262,1616,5.49,16,87.84,19,3,1,ORGANIC LONG ENGLISH CUKE,0,H,2,CUCUMBERS,E
396880,110,2018-10-12,1.118640e+11,65,939542,11,282,1648,5.99,12,71.88,19,2,1,ORGANIC FRENCH BEAN,2 LBS,V,5,BEANS,E
397041,110,2019-03-30,1.118640e+11,65,14221,4,135,1745,4.99,12,59.88,19,8,1,FRENCH GREEN BEAN,2 LBS,V,5,BEANS,E
398224,110,2018-11-23,1.118880e+11,65,30669,9,63,1113,1.49,11,16.39,19,3,1,BANANAS,0,T,1,BANANAS,E
402379,110,2018-12-30,1.118220e+11,65,27003,12,164,1352,8.99,16,143.84,19,5,1,2 LB STRAWBERRIES,0,B,1,STRAWBERRIES,N
403253,110,2018-09-13,1.118660e+11,65,26281,12,25,1041,5.99,12,71.88,19,1,1,MINI WATERMELON,2 COUNT SLEEVE,M,3,MINI MELON,E
403603,110,2019-03-10,3.004650e+11,65,519638,3,262,1749,5.49,11,60.39,19,7,1,ORGANIC BLUEBERRIES 18 OZ,0,B,0,BLUEBERRIES,E
404457,110,2018-09-06,1.118860e+11,65,27003,8,314,1919,3.99,12,47.88,19,1,1,2 LB STRAWBERRIES,0,B,1,STRAWBERRIES,E
404458,110,2018-10-11,1.118860e+11,65,27003,7,323,1649,4.49,20,89.80,19,2,1,2 LB STRAWBERRIES,0,B,1,STRAWBERRIES,E
404794,110,2018-11-01,1.118860e+11,65,8789,4,195,1631,2.99,20,59.80,19,3,1,GOLDEN PINEAPPLE,0,T,2,PINEAPPLE,E
404795,110,2018-10-19,1.118860e+11,65,27003,8,415,1907,4.49,28,125.72,19,2,1,2 LB STRAWBERRIES,0,B,1,STRAWBERRIES,E
405239,110,2019-01-16,3.082540e+11,65,20522,11,364,1934,4.99,11,54.89,19,5,1,ORGANIC BUTTERNUT SQUASH,FRESH CUT 2 LBS,X,6,SQUASH,E
407433,110,2019-04-22,1.118770e+11,65,14221,9,44,1051,4.99,20,99.80,19,9,1,FRENCH GREEN BEAN,2 LBS,V,5,BEANS,E
408940,110,2018-09-25,1.118850e+11,65,30669,12,81,1200,1.39,15,20.85,19,1,1,BANANAS,0,T,1,BANANAS,E

#### Model

In [28]:
#Get list of unique items

itemList=list(set(FreshFood19["ItemNo"].tolist()))
len(itemList)

173

In [29]:
#Get count of users

import sys
memberCount=len(set(FreshFood19["MembershipNo"].tolist()))
print(memberCount)

1766

In [30]:
#Create an empty data frame to store item affinity scores for items.

itemAffinity= pd.DataFrame(columns=('item1', 'item2', 'score'))
rowCount=0

In [31]:
#For each item in the list, compare with other items.
for ind1 in range(len(itemList)):
    
    #Get list of users who bought this item 1.
    item1Users = FreshFood19[FreshFood19.ItemNo==itemList[ind1]]["MembershipNo"].tolist()
    #print("Item 1 ", item1Users)
    
    #Get item 2 - items that are not item 1 or those that are not analyzed already.
    for ind2 in range(ind1, len(itemList)):
        
        if (ind1 == ind2):
            continue
       
        #Get list of users who bought item 2
        item2Users=FreshFood19[FreshFood19.ItemNo==itemList[ind2]]["MembershipNo"].tolist()
        #print("Item 2",item2Users)
        
        #Find score. Find the common list of users and divide it by the total users.
        commonUsers= len(set(item1Users).intersection(set(item2Users)))
        score=commonUsers / memberCount

        #Add a score for item 1, item 2
        itemAffinity.loc[rowCount] = [itemList[ind1],itemList[ind2],score]
        rowCount +=1
        #Add a score for item2, item 1. The same score would apply irrespective of the sequence.
        itemAffinity.loc[rowCount] = [itemList[ind2],itemList[ind1],score]
        rowCount +=1
        
#Check final result
itemAffinity.head()

      item1      item2     score
0   67072.0   512515.0  0.132503
1  512515.0    67072.0  0.132503
2   67072.0    24587.0  0.130804
3   24587.0    67072.0  0.130804
4   67072.0  1229835.0  0.116648

In [32]:
#Display first 10 recommended items for a item

searchItem=57554.0
recomList=itemAffinity[itemAffinity.item1==searchItem]\
        [["item2","score"]]\
        .sort_values("score", ascending=[0])
        
print("Recommendations for item 57554.0\n", recomList[:10])

Recommendations for item 57554.0
           item2     score
20342   27003.0  0.377690
20372   47019.0  0.371461
17129   18600.0  0.366365
20392   30669.0  0.349377
8681     2619.0  0.349377
20400  519638.0  0.311438
5691    56366.0  0.302378
20390   96716.0  0.295583
20384   60357.0  0.290487
20284  251680.0  0.283692

----- Thank you!------